h1 {
  text-align: center;
}

.welcome-box {
  text-align: center;
}

.form-flex {
  display: flex;
}

.house-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
}

#hidden-div {
  display: none;
}

#sorting-hat {
  text-align: center;
}

.top-container {
  border: 3px black;
  width: 1500px;
  text-align: center;
}

.outer-container {
  display: flex;
  flex-direction: row;
}

.container1 {
  border: 3px black;
  width: 750px;
  height: 750px;
}

.container2 {
  border:black;
  width: 750px;
  height: 750px;
  text-align: center;
}
